@font-face {
    font-family: cn-bold;
    src: url(./FONTS-DIR/ComicNeue-Bold.ttf);
}

@font-face {
    font-family: cn-regular;
    src: url(./FONTS-DIR/ComicNeue-Regular.ttf);
}

@font-face {
    font-family: cn-light;
    src: url(./FONTS-DIR/ComicNeue-Light.ttf);
}

body {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-family: cn-bold;
    line-height: 1.7;
    letter-spacing: 0.1rem;
}

h2 {
    font: 2rem;
    font-family: cn-bold;
    letter-spacing: 0.1rem;
    margin-bottom: 2%;
    line-height: 1.7;
}

h3 {
    font: 1.5rem;
    font-family: cn-bold;
    letter-spacing: 0.1rem;
    line-height: 1.7;
}

p {
    font: cn-light;
    letter-spacing: 0.1rem;
}

ul li {
    letter-spacing: 0.1rem;
}

.profile-pic {
    width: 60%;
    margin: 5% 0%;
    display: inline-block;
    border: 3px solid white;
    
}

.img-container {
    z-index: -1;
}

.greet-container {
    position: relative;
    z-index: 1;
}

#title {
    background-image: linear-gradient(to bottom, #d1d8e0 10%, #a55eea 100%);
    padding: 4% 10%;
}

.primary-CTA {
    margin-top: 5%;
    background-color: #f2f2f2;
    color: #404040;
    width: 40%;
    padding: 2% 0%;
    font-size: 1.5rem;
}

.primary-CTA:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    transition: 0.2s;
    color: #404040;
    width: 40%;
    padding: 2% 0%;
    font-size: 1.5rem;
}

.section-head {
    margin: 1% 0;
}

hr {
    width: 85%;
    background-color: #404040;
}




/* ========================================================================================= */

#about-me {
    padding: 4% 10%;
    margin-bottom: 1%;
}

.support-images {
    width: 100%
}

.description {
    text-align: left;
    font-family: cn-regular;
    font-size: 1.2rem
}

.info-box {
    margin: 5% 0%;
}


/* ========================================================================================= */

#the-tech-skills {
    padding: 4% 10%;
    margin-bottom: 1%;
}

ul {
    list-style: none;
}

.container-fluid {
    height: 70%;
}

.desc-container {
    margin-bottom: 2%;
}

/*
==========================================================================================*/

#the-soft-skills{
    padding: 5% 10%;
    margin-bottom: 1%;
}


/* ========================================================================================= */

#the-hobbies{
    padding: 4% 10%;
    margin-bottom: 1%;
    background-color: #404040;
    color: #f2f2f2;
    font: cn-regular;
}


/* ========================================================================================= */

#contact-details {
    padding: 5%;
}

.the-social-buttons {
    outline: none;
    margin: 5%;
}

.card-body {
    margin: 6%;
}
